{% extends 'base.html.twig' %}

{% block title %}Moje samochody{% endblock %}

{% block content %}
    <div class="container text-center">
    <h3 class="h3 mt-3 mb-3">Moje samochody</h3>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {%endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card-group mb-3">
        {% for carInfo in MyCars %}
            <div class="col col-sm-12 col-lg-4 mb-3">
                {% if carInfo.quan > 0 %}
                <div class="card card-change p-2">
                    <img src="{{ carInfo.imageUrl }}" class="card-img-top" alt="{{ carInfo.car.getName() }}">
                    <div class="card-body">
                        <small class="text-muted">Dodane: {{ carInfo.car.creationdate |date('d.m.Y H:i') }}</small>
                        <h5 class="card-title">Marka: {{ carInfo.car.getName() }}</h5>
                        <p class="card-text">Model: {{ carInfo.car.getModel() }}</p>
                        <h6 class="card-text">Cena: {{ carInfo.car.getPrice() }} zł</h6>
                        <a href="{{ path('app_show_car', {'id': carInfo.car.id}) }}" class="btn btn-primary m-3 btn-sm">Zobacz więcej</a>
                        <a href="{{ path('app_edit_car', {'id': carInfo.car.id}) }}" class="btn btn-warning m-3 btn-sm">Edytuj</a>
                        <a href="{{ path('app_my_cars_delete', {'id': carInfo.car.id}) }}" class="btn btn-danger m-3 btn-sm" id="delete-car">Usuń</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Zostało: {{ carInfo.car.quantity }}</small>
                    </div>
                </div>
                {% else %}
                    <div class="card card-change card-add-change p-2">
                        <img src="{{ carInfo.imageUrl }}" class="card-img-top" alt="{{ carInfo.car.getName() }}">
                        <div class="card-body">
                            <small class="text-muted">Dodane: {{ carInfo.car.creationdate |date('d.m.Y H:i') }}</small>
                            <h5 class="card-title">Marka: {{ carInfo.car.getName() }}</h5>
                            <p class="card-text">Model: {{ carInfo.car.getModel() }}</p>
                            <h6 class="card-text">Cena: {{ carInfo.car.getPrice() }} zł</h6>
                            <a href="{{ path('app_show_car', {'id': carInfo.car.id}) }}" class="btn btn-primary m-3 btn-sm">Zobacz więcej</a>
                            <a href="{{ path('app_edit_car', {'id': carInfo.car.id}) }}" class="btn btn-warning m-3 btn-sm">Edytuj</a>
                            <a href="{{ path('app_my_cars_delete', {'id': carInfo.car.id}) }}" class="btn btn-danger m-3 btn-sm" id="delete-car" >Usuń</a>
                        </div>
                        <div class="card-footer">
                            <small class="zero">WYPRZEDANE</small>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    

{% endblock %}

